*, *::before, *::after{
    box-sizing: border-box;
}
@font-face {
    font-family: "inter";
    src: url(Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: "lexend";
    src: url(Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}
:root{
    --radius: 15px;
}
body{
    font-family: "inter";
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-weight: 400;
}
.main{
    max-width: 1000px;
    height: 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    
}
.purple{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 71%, 58%, 0.356);
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    z-index: 1;
}
.min-main1{
    padding: 40px 60px 0;
    font-size: 15px;
    background-color: hsl(244, 38%, 16%);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
h1{
    margin: 0;
    margin-top: 20px;
}
.discover{
    line-height: 1.8;
}
.min-main2{ 
    position: relative;  
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);  
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 0;
    font-family: "lexend";
    font-weight: 400;
}

p{
    color: hsla(0, 0%, 100%, 0.6);
}
h2{
    padding: 0;
    margin: 0;
}
span{
    color: hsl(277, 64%, 61%);
}
.ctq{
   text-transform: uppercase;
   margin-top: 5px;
   font-size: 13px;
}
img{
    width: 100%;
    height: 100%;
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
@media (max-width: 890px) {
   .min-main1{
    padding: 30px;
   } 
}
@media (max-width: 770px) {
    .min-main1{
     padding: 40px 20px;
    } 
    p.discover{
        font-size: 13px;
    }
    .main-grid{
        padding: 10px;
    }
   /* h1{
    font-size: 28px;
   } */
 }
 @media (max-width: 670px){
  .main{
    grid-template-columns: 1fr;
    text-align: center;
    margin: 5px 12px;
  }
  h1{
    margin: 0;
}
  .min-main2{
    grid-row-start: 1;
  }
  p.discover{
    font-size: 15px;
}
  .min-main1{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    padding-bottom: 20px;
  }
  .min-main2, img, .purple{
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    border-bottom-right-radius: 0;
  }
  .main-grid{
    padding-top: 25px;
    grid-template-columns: 1fr;
    gap: 15px;
  }
 }